.green-background {
  background-color: rgb(41, 141, 38);
}

.position-relative {
  position: relative;
}

img {
  position: absolute;
  width: 200px;
}

.turn-down {
  transform: rotate(90deg);
}

.turn-left {
  transform: rotate(180deg);
}

.turn-up {
  transform: rotate(-90deg);
}

.turn-right {
  transform: 0;
}
